// ** _form.scss

// 인풋 아이템
.kp-input-item {
  font-size: 14px;
  min-width: 150px;

  &>label {
    display: block;
    margin: 0 0 0.4rem 0;
    color: $CL-black;
    font-size: 1em;
    font-weight: 700;
    text-transform: none;
  }

  &>input {
    z-index: 1;
    position: relative;
    width: 100%;
    padding: 0.6em 0.75em;
    height: 36px;
    font-size: 1em;
    color: $CL-black;
    background-color: #fff;
    border: 1px solid $CL-input-border;
    border-radius: 0.35rem;
    box-shadow: 0 0 0 0 transparent inset;
    transition: color 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
    // margin-bottom: 20px;

    &:focus {
      border-color: $CL-focus;
    }
  }

  .explain {
    position: relative;
    max-height: 0;
    font-size: 90%;
    color: $CL-error;
    opacity: 0;
    visibility: hidden;
    // transition: visibility .1s, transform .3s ease, opacity .3s ease;
  }

  // 👇 마진값 추가
  // &:not(:last-child) {
  //   margin-right: 10px;
  // }
}

// State별 스타일링
.kp-input-item {

  // 👋 에러가 난 경우
  &.state-error {

    input,
    input:focus {
      margin-bottom: 0;
      border-color: $CL-error;
      background-color: #fff8f8;
    }

    .explain {
      opacity: 1;
      min-height: 24px;
      max-height: 100%;
      visibility: visible;
      padding: 3px 0.75em 0;
    }
  }

  // 👇 사용 불가 상태인 경우
  // &.state-disabled{
  //   opacity: 0.5;
  //   @include pointer-none;
  //   @include select-none;
  // }

  // 👋 필수입력인 경우
  &.state-required {
    &>label:after {
      display: inline-block;
      margin-left: 3px;
      color: $CL-error;
      font-size: 1em;
      line-height: 1;
      content: "*";
    }
  }

  // 👋 읽기전용인 경우
  // &.state-readonly {
  //   input {
  //     color: rgba(0, 0, 0, 0.55);
  //   }

  //   input:hover {
  //     border: 1px solid rgba(34, 36, 38, 0.2);
  //   }

  //   input:focus {
  //     color: rgba(0, 0, 0, 0.75);
  //     border: 1px solid rgba(34, 36, 38, 0.4);
  //   }
  // }
}

.kp-input-item input:disabled {
  opacity: 0.5;
  @include pointer-none;
  @include select-none;
}

.kp-input-item input[readonly] {
  color: rgba(0, 0, 0, 0.55);

  &:hover {
    border: 1px solid rgba(34, 36, 38, 0.2);
  }

  &:focus {
    color: rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(34, 36, 38, 0.4);
  }
}