// ** layout.scss
// ** 레이아웃 전반

// 그룹 타이틀
.kp-group-title {
  display: block;
  margin: 0 0 0.5rem 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
}

// 한줄로 묶을 때
.kp-line {
  @include flexbox();

  // 풀 사이즈
  .full-size {
    flex: 1;
  }

  &.align-center {
    @include align-items(center);
  }

  &.space-end {
    @include justify-content(space-between);
  }

  .kp-selectbox,
  .kp-input-item,
  .kp-radio-group,
  .kp-btn,
  .kp-switch {

    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

// 페이지 타이틀
.kp-page-title {
  font-size: 38px;
  margin: 14px 0 24px;
}

// 마진값
.kp-m {
  &-top {
    margin-top: 20px;
  }

  &-top-md {
    margin-top: 40px;
  }

  &-top-lg {
    margin-top: 60px;
  }

  &-bottom {
    margin-bottom: 20px;
  }

  &-bottom-md {
    margin-bottom: 40px;
  }

  &-bottom-lg {
    margin-bottom: 60px;
  }

}