// ** layout.scss



.kp-group-title {
  display: block;
  margin: 0 0 0.5rem 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
}


.kp-line {
  @include flexbox();

  .full-size {
    flex: 1;
  }

  &.align-center {
    @include align-items(center);
  }

  &.space-end {
    @include justify-content(space-between);
  }


  .kp-selectbox,
  .kp-input-item,
  .kp-radio-group,
  .kp-btn,
  .kp-switch {

    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}