// ** _selectbox.scss

// 셀렉트 박스 아이템
.kp-selectbox {
  position: relative;
  display: inline-block;
  font-size: 14px;
  min-width: 90px;

  .kp-select-wrap {
    -webkit-appearance: none;
    width: 100%;
    height: 36px;
    margin: 0;
    padding: 8px 49px 8px 12px;
    color: $CL-black;
    font-size: 1em;
    border: 1px solid $CL-input-border;
    border-radius: 3.5px;
    background-color: #fff;
    transition: border-color 0.2s ease;
    background-size: 15px 8px;
    background-position: right .75em top 50%;
    background-image: icon(arrow-bottom, "777777");
    background-repeat: no-repeat;
    outline: 0;

    &:not(:disabled):hover {
      border-color: $CL-focus;
    }

    &:not(:disabled):focus {
      border-color: $CL-focus;
    }

    // 👋 사용불가인 경우
    &[disabled] {
      opacity: 0.5;
      @include pointer-none;
      background-color: $CL-disabled-bg;
    }
  }

  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }


}