.kp-switch {
  height: 36px;

  // background: #00000036;
  position: relative;
  vertical-align: middle;
  cursor: pointer;

  @include flexbox();
  @include align-items(center);

  // .switch-wrap {
  //   position: relative;
  // }

  .switch-wrap {
    position: relative;
    min-width: 56px;
    height: 26px;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 100px;
    transition: all .36s;
    cursor: pointer;
    padding: 0 24px;

    &:after {
      z-index: 1;
      position: absolute;
      top: 3px;
      left: 4px;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      content: '';
      box-shadow: 0 2px 4px 0 rgba(0, 35, 11, .2);
      transition: all .36s cubic-bezier(.78, .14, .15, .86);
    }
  }

  input {
    @include invisible;

    &:checked+.switch-wrap {
      background-color: $CL-focus;

      &:after {
        left: 100%;
        margin-left: -4px;
        transform: translateX(-100%);
      }
    }
  }
}

.switch-text {
  position: relative;
  height: 100%;
  padding: 0 2px 0 6px;
  font-size: 12px;
  color: var(--gray);
  vertical-align: middle;

  .text-contents {
    position: absolute;
    // width: 100%;
    // height: 100%;
    top: 0;
    left: 0;

    &.off {
      opacity: 1;
      text-align: right;

    }
  }

}

.kp-switch {
  .switch-text.off {
    // display: block;
    visibility: visible;
    color: red;
  }

  .switch-text.on {
    // display: none;
    visibility: hidden;
    max-width: 0;
  }

  input:checked+.switch-wrap {

    .switch-text.off {
      // display: none;
      visibility: hidden;
      max-width: 0;
    }

    .switch-text.on {
      // display: block;

      visibility: visible;
    }
  }
}


.kp-switch.size-lg {
  height: 48px;

  .switch-wrap {
    min-width: 66px;
    height: 35px;

    &:after {
      top: 11px;
      left: 5px;
      width: 26px;
      height: 26px;
    }
  }
}


.kp-switch {
  input:disabled {
    &+label {
      opacity: 0.5;
      @include pointer-none;
    }
  }
}