// ** switch.scss

// 스위치 형태의 체크박스
.kp-switch {
  height: 36px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  @include flexbox();
  @include align-items(center);

  .switch-wrap {
    position: relative;
    min-width: 56px;
    height: 26px;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 100px;
    transition: all .36s;
    cursor: pointer;
    padding: 0 24px;

    &:after {
      z-index: 1;
      position: absolute;
      top: 3px;
      left: 4px;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      content: '';
      box-shadow: 0 2px 4px 0 rgba(0, 35, 11, .2);
      transition: all .36s cubic-bezier(.78, .14, .15, .86);
    }
  }

  input[type=checkbox] {
    @include invisible;

    // 👋 체크된 경우
    &:checked+.switch-wrap {
      background-color: $CL-focus;

      &:after {
        left: 100%;
        margin-left: -4px;
        transform: translateX(-100%);
      }
    }

    // 👋 사용불가인 경우
    &:disabled {
      &+label {
        opacity: 0.5;
        @include pointer-none;
      }
    }
  }
}