// ** page-components.scss

// 사용자 정의 속성
:root {
  --maxW: 1200px;
  --minW: 320px;
  --black: #212529;
  --gray: #788087;
  --blue: #1890ff;
  --yellow: #fff8ad;
}

.page-components {

  .header {
    min-width: var(--minW);
    height: 70px;
    color: var(--black);
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .05);
    background-color: #fff;


    &__container {
      height: 100%;
      max-width: var(--maxW);
      padding: 0 30px;
      margin: 0 auto;
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(center);

      @include res {
        padding: 0 20px;
      }
    }

    .title {
      margin-top: -6px;

      .logo {
        display: inline-block;
        margin: 4px 4px 0 0;
        width: 58px;
        vertical-align: middle;
      }

      &__text {
        font-size: 2.1rem;
      }
    }

    &__version {
      opacity: 0.8;
      font-size: 90%;
      color: var(--gray);
      margin-top: 4px;
    }
  }

  .main {

    @include flexbox();
    max-width: var(--maxW);
    min-width: var(--minW);
    margin: 40px auto 40px;
    padding: 0 30px;

    @include res {
      display: block;
      padding: 0 20px;
      margin: 0;
    }
  }

  .contents {
    border-left: 1px solid #f0f0f0;
    padding-left: 60px;
    padding-top: 60px;
    width: calc(100% - 180px);
    margin-left: 180px;

    @include res {
      width: 100%;
      margin-left: 0;
      padding-left: 0;
      border-left: 0;
    }
  }


  pre {
    margin: 0;
    text-align: left;

    .hljs {
      padding: 20px 30px;
    }
  }

  .more {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;

    .more__link {
      color: var(--blue);
      text-decoration: underline;
    }
  }

}


.nav {
  position: fixed;
  width: 180px;
  height: 100%;
  padding-top: 60px;

  @include res {
    display: none;
  }

  .nav__link {
    display: block;
    padding: 10px 14px 10px 0;
    color: var(--gray);

    &:hover {
      color: #1e1e1e;
    }
  }
}



.guide {
  margin-top: 140px;
  letter-spacing: -0.01em;
  padding-bottom: 140px;
  border-bottom: 1px solid rgb(203, 203, 203);

  @include res {
    margin-top: 100px;
    padding-bottom: 100px;
  }

  &:first-child {
    margin-top: 0;
  }

  h2 {
    font-size: 4rem;
    margin-bottom: 10px;
  }

  h2+p {
    line-height: 160%;

    code {
      padding: 3px;
      margin-right: 2px;
      font-size: 1.12em;
      background-color: var(--yellow);
    }
  }

  h3 {
    font-size: 2.1rem;
  }

  .desc {
    margin: 6px 0 8px;
    font-size: 1em;

    @include res {
      margin: 10px 0 14px;
    }

    code {
      padding: 3px;
      margin-right: 2px;
      font-size: 1.12em;
      background-color: var(--yellow);
    }
  }

  .demo {
    margin-top: 4rem;
    width: 100%;
  }

  .demo__ui {
    overflow-y: auto;
    margin-top: 10px;
    padding: 20px 30px;
    border: 1px solid #f0f0f0;

    @include res {
      padding: 15px 20px;
    }
  }

  .code-toggle {
    text-align: right;
    margin-top: 10px;
    background-size: 15px 8px;
    background-position: right 0 top 8px;
    background-image: icon(arrow-bottom, "212529");
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
      background-image: icon(arrow-bottom, "1890ff");

      label {
        color: var(--blue);
      }
    }

    label {
      display: block;
      padding-right: 22px;
      margin-bottom: 10px;
    }

    input {
      @include invisible;

      &:checked+.code-contents {
        display: block;
      }
    }
  }

  .code-contents {
    display: none;
    overflow-x: auto;
    border: 1px solid #e2e2e2;
    font-size: 1.15em;
  }
}

.footer {
  min-width: var(--minW);
  color: #999;
  background: #1e1e1e;

  &__logo {
    width: 64px;
  }

  &__container {
    height: 100%;
    max-width: var(--maxW);
    padding: 30px;
    margin: 0 auto;
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);

    @include res {
      padding: 20px;
    }
  }

}