// ---
// ** variables.scss
// ** 글로벌 변수
// ---


// path
// $PATH-IMAGE: "../images/";
$PATH-IMAGE: "../_src/_images/";

// layout
$IMAGE-WIDTH: 750;
$MAX-WIDTH: 769px;
$MIN-WIDTH: 360px;


// z-index
$Z-MAIN-BTN: 20;
$Z-TOTAL-REWARD: 10;
$Z-COIN-DROP: 5;