// ---
// common
// ---

body {
  padding: 30px;

  h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

.blind {
  // 👆 SEO용 텍스트 숨기기
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


.scroll-container {
  // 👆 스크롤 영역 지정할 때 사용
  overflow-y: auto;
}

.-scroll-disabled {
  // 👆 스크롤 막을 때 사용
  height: 100%;
  overflow: hidden;
}

.group-title {
  display: block;
  margin: 0 0 0.4rem 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
}