// ---
// common
// ---

:root {
  --black: #212529;
  --gray: #788087;
  --blue: #1890ff;
  --yellow: #fff8ad;
}

body {
  font-size: 15px;
}

.wrap {

  .header {
    height: 70px;
    padding: 0 20px;
    color: var(--black);
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .05);
    background-color: #fff;

    &__container {
      max-width: 980px;
      margin: 0 auto;
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(flex-end);
    }

    .logo {
      display: inline-block;
      margin: 6px 4px 0 0;
      width: 58px;
      vertical-align: middle;
    }

    .title__text {
      font-size: 21px;
    }

    .version {
      opacity: 0.8;
      font-size: 90%;
      color: var(--gray);
      margin-bottom: 2px;
    }


  }

  .main {
    display: grid;
    grid-template-columns: minmax(20%, 200px) minmax(80%, 780px);
    // grid-template-rows: 56px 1fr;
    max-width: 980px;
    margin: 80px auto 120px;
    padding: 0 20px;
  }
}


.nav {
  outline: 3px sodlid red;

  .nav__link {
    display: block;
    padding: 10px 14px;
    color: var(--gray);

    &:hover {
      color: var(--black);
    }
  }
}

.blind {
  // 👆 SEO용 텍스트 숨기기
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


.scroll-container {
  // 👆 스크롤 영역 지정할 때 사용
  overflow-y: auto;
}

.-scroll-disabled {
  // 👆 스크롤 막을 때 사용
  height: 100%;
  overflow: hidden;
}

.kp-group {}

.kp-group-title {
  display: block;
  margin: 0 0 0.4rem 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
}

.kp-flexbox {
  @include flexbox();

  &.align-center {
    @include align-items(center);
  }


  .kp-selectbox,
  .kp-input-item,
  .kp-radio-group,
  .kp-btn {
    // flex: 1;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

/////@include


.guide {
  margin-top: 140px;
  letter-spacing: -0.01em;
  padding-bottom: 140px;
  border-bottom: 1px solid rgb(203, 203, 203);



  &:first-child {
    margin-top: 0;
  }

  h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 21px;
  }

  .desc {
    margin: 4px 0 8px;
    font-size: 14px;

    code {
      padding: 3px;
      margin-right: 2px;
      background-color: var(--yellow);
    }
  }

  .demo {
    margin-top: 40px;
    width: 100%;
  }

  .demo__ui {
    margin-top: 10px;
    padding: 20px 30px;
    border: 1px solid #f0f0f0;
    ;
  }


  .code-toggle {
    text-align: right;
    margin-top: 10px;
    background-size: 15px 8px;
    background-position: right 0 top 8px;
    background-image: icon(arrow-bottom, "212529");
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
      background-image: icon(arrow-bottom, "1890ff");

      label {
        color: var(--blue);
      }
    }

    label {
      display: block;
      padding-right: 22px;
      margin-bottom: 10px;
    }

    input {
      @include invisible;

      &:checked+.code-contents {
        display: block;
      }
    }
  }

  .code-contents {
    display: none;
    overflow-x: auto;
    border: 1px solid #e2e2e2;
    ;
  }
}


pre {
  margin: 0;
  text-align: left;

  .hljs {

    padding: 20px 30px;
  }
}