// ** layout.scss



.wrap {
  position: relative;
  width: 100%;
  min-width: $MIN_WIDTH;
  max-width: $MAX_WIDTH;
  margin: 0 auto;
}

// 👇 SEO용 텍스트 숨기기
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


// 전체 백그라운드
.background {
  // display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: $MAX-WIDTH;
  height: 100%;
  background-size: 100%;
  background-color: #25170f;
  @include bgi("background", "jpg");
}


// 하단 고정 영역
.fixed-btn {
  z-index: $Z-MAIN-BTN;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: $MAX-WIDTH;
  overflow-x: hidden;
}

// 참여하기 버튼
.btn-apply {
  @include bgi("btn-apply");
  @include percentSize(734, 148);
  margin-left: getPercent(10);
}


// 하단 코인 무더기
.deco-coins-bottom {
  position: relative;
  z-index: 1;
  margin-top: getPercent(25);
  @include percentSize(750, 184);
  @include bgi("deco-coins-bottom");

}