// ** layout.scss

// 전체 레이아웃
// @media only screen and (min-width: 920px) {
//   html {
//     font-size: 100%;
//     height: 100%;
//   }
// }

body {
  background-color: #2e2925;

}

.wrap {
  position: relative;
  width: 100%;
  min-width: 360px;
  // max-width: 750px;
  outline: 3px solid red;
}


// 전체 백그라운드
.background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: 100%;
  @include bgi("background", "jpg");
  background-position: fixed;
}

.visual {

  //이미지 공통 파일명
  $_imgName: visual;

  position: relative;
  text-align: center;

  // 지폐 그림
  &__money {
    margin: 0 auto getPercent(-100);
    @include percentSize(609, 363);
    @include bgi("#{$_imgName}-money");
  }

  // 총 상금
  &__total {
    position: relative;
  }

  &__text {
    // margin: 0 auto;
    display: inline-block;
    margin-left: getPercent(-30);
    @include percentSize(236, 115);
    @include bgi("#{$_imgName}-total");

    // 손 이미지
    &:before,
    &:after {
      bottom: 0;
      position: absolute;
      display: block;
      content: '';
      @include percentSize(104, 82);
    }

    //왼쪽
    &:before {
      left: getPercent(135);
      bottom: getPercent(4);
      @include bgi("#{$_imgName}-hand-left");
    }

    //오른쪽
    &:after {
      right: getPercent(150);
      bottom: getPercent(80);
      @include bgi("#{$_imgName}-hand-right");
    }
  }
}