// ** page-event.scss


// 1원 송금 이벤트 영역
.page-event {
  z-index: $Z-EVENT-PAGE;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 5s;
  // transition: visibility 0ms;
  // transition-delay: 5s;

  // background-color: #875224;
  // background-color: #25170f;
  // &__background {

  //   opacity: 0;
  //   visibility: hidden;
  //   position: fixed;
  //   top: 0;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   width: 100%;
  //   max-width: $MAX-WIDTH;
  //   height: 100%;
  //   background-size: 100%;
  //   // background-color: #000;
  //   background-color: #875224;
  //   transition: opacity 400ms, visibility 400ms;
  // }
}

.event {
  //이미지 공통 파일명
  $_imgName: event;

  position: relative;
  z-index: 1;
  overflow-y: hidden;

  &__btn-close {
    z-index: 1;
    position: absolute;
    top: getPercent(25);
    right: getPercent(40);
    @include percentSize(57, 59);
    @include bgi("#{$_imgName}-btn-close");
  }

  &__btn-coupon {
    z-index: 1;
    position: absolute;
    top: getPercent(62);
    right: getPercent(98);
    @include percentSize(114, 48);
    @include bgi("#{$_imgName}-btn-coupon");
  }

  &__btn-update {
    z-index: 1;
    position: absolute;
    top: getPercent(284);
    right: getPercent(138);
    @include percentSize(155, 44);
    @include bgi("#{$_imgName}-btn-update");
  }

  &__top {
    z-index: $Z-EVENT-CONTENTS;
    position: relative;
    transform: translateY(-100%);
    transition: transform 250ms;
  }

  &__top-contents {
    @include percentSize(750, 667);
    @include bgi("#{$_imgName}-top-contents");
  }

  &__bottom {
    z-index: $Z-EVENT-CONTENTS;
    position: relative;
    transform: translateY(100%);
    transition: transform 250ms;
  }

  &__bottom-contents {
    @include percentSize(750, 767);
    @include bgi("#{$_imgName}-bottom-contents");
  }

  &__background {

    opacity: 0;
    visibility: hidden;
    // z-index: $Z-TRANSITION-BACK;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    // transition: all 3s;
    transition: opacity 500ms, visibility 500ms;
    // opacity: 0;
    // visibility: hidden;
    // position: fixed;
    // top: 0;
    // left: 50%;
    // transform: translateX(-50%);
    // width: 100%;
    // max-width: $MAX-WIDTH;
    // height: 100%;
    // background-size: 100%;
    // background-color: #875224;
    // transition: opacity 400ms, visibility 400ms;
  }
}


// 송금하기 버튼
.btn-transfer {
  @include bgi("btn-transfer");
  @include percentSize(734, 145);
  margin-left: getPercent(15);
  transform: translateY(100%);
  transition: transform 300ms;
}


// 이벤트 화면이 보여지는 경우
.-event-show {

  // 페이지 보여지도록 표시
  .page-event {
    visibility: visible;
    // transition: visibility 5s;
    // transition-delay: 1s;
  }

  // 위 애니메이션
  .event__top {
    animation: openEventPageTop 550ms;
    transform: translateY(0%);
  }

  // 아래 애니메이션
  .event__bottom {
    animation: openEventPageBottom 550ms;
    transform: translateY(0%);
  }

  // 송금하기 버튼
  .btn-transfer {
    transform: translateY(0%);
    transition-delay: 200ms;
  }

}



// .-event-show {
//   .transition-back {
//     visibility: visible;
//     opacity: 1;
//   }

//   .page-event {
//     visibility: visible;
//     // overflow-y: hidden;

//     &__background {
//       opacity: 1;
//       visibility: visible;
//       // transition-delay: 600ms;
//     }
//   }

//   .event {

//     &__background {
//       opacity: 1;
//       visibility: visible;
//       // transition-delay: 600ms;
//     }
//   }

//   .event__top {
//     outline: 3px solid red;
//     // animation: openEventPageTop 1500ms;
//     animation-fill-mode: both;
//     animation: openEventPageTop 550ms;
//     // transform: translateY(0);
//   }

//   .event__bottom {
//     outline: 3px solid blue;
//     // animation: openEventPageBottom 1500ms;
//     animation-fill-mode: both;
//     animation: openEventPageBottom 550ms;
//     // transform: translateY(0);
//   }
// }