// ** page-event.scss

// 1원 송금 이벤트 영역 전체
.page-event {
  z-index: $Z-EVENT-PAGE;
  visibility: hidden;
  top: 0;
  width: 100%;
  max-width: $MAX-WIDTH;
  height: 100%;
  transition: visibility 100ms;
  overflow-y: auto;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  // 높이 초과 시의 화면을 위한 백그라운드
  &__background {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: $MAX-WIDTH;
    height: 100%;
    background-size: 100%;
    background-color: $CL-BG;
    transition: opacity 600ms, visibility 400ms;
  }
}

// 이벤트 영역
.event {
  //로컬 경로
  $_path-image: $PATH-IMAGE + "page-event/";
  $_imgName: event;

  //로컬 믹스인
  @mixin _bgi($imageName, $type: "png") {
    background-image: url(#{$_path-image}#{$imageName}.#{$type});
    background-repeat: no-repeat;
    background-size: 100%;
  }

  position: relative;
  z-index: 1;
  overflow-y: hidden;

  // 트랜지션 때 보여줄 배경
  &__transition-back {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $CL-BG;
    transition: opacity 400ms, visibility 100ms;
  }

  // 닫기 버튼
  &__btn-close {
    z-index: 1;
    position: absolute;
    top: getPercent(25);
    right: getPercent(40);
    @include percentSize(57, 59);
    @include _bgi("#{$_imgName}-btn-close");
  }

  // 쿠폰 버튼
  &__btn-coupon {
    z-index: 1;
    position: absolute;
    top: getPercent(62);
    right: getPercent(98);
    @include percentSize(114, 48);
    @include _bgi("#{$_imgName}-btn-coupon");
  }

  // 카톡 업데이트 버튼
  &__btn-update {
    z-index: 1;
    position: absolute;
    top: getPercent(284);
    right: getPercent(138);
    @include percentSize(155, 44);
    @include _bgi("#{$_imgName}-btn-update");
  }

  // 위쪽 영역 전체
  &__top {
    z-index: $Z-EVENT-CONTENTS;
    position: relative;
    transform: translateY(-100%);
    transition: transform 250ms;
  }

  // 위쪽 영역 실질 이미지
  &__top-contents {
    @include percentSize(750, 667);
    @include _bgi("#{$_imgName}-top-contents", "jpg");
  }

  // 아래쪽 영역 전체
  &__bottom {
    z-index: $Z-EVENT-CONTENTS;
    position: relative;
    transform: translateY(110%);
    transition: transform 250ms;
  }

  // 아래쪽 영역 실질 이미지
  &__bottom-contents {
    @include percentSize(750, 767);
    @include _bgi("#{$_imgName}-bottom-contents", "jpg");
  }
}

// 송금하기 버튼
.main-btn-transfer {
  visibility: hidden;
  z-index: $Z-TRANSFER-BTN;
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: $MAX-WIDTH;

  .btn-transfer {
    @include bgi("btn-transfer");
    @include percentSize(734, 145);
    margin-left: getPercent(15);
    transform: translateY(110%);
    transition: transform 300ms;
  }
}

// 👋 이벤트 화면이 보여지는 경우
.-event-show {
  overflow-y: hidden;

  // 메인 페이지 숨김 처리
  .page-main {
    opacity: 0;
    transition: opacity 10ms;
    transition-delay: 500ms;
  }

  // 메인 영역의 애니메이션 일시정지
  .ani {
    animation-play-state: paused;
  }

  // 이벤트 페이지 표시 처리
  .page-event {
    visibility: visible;
  }

  // 이벤트 페이지 전체 배경 표시
  .page-event__background {
    visibility: visible;
    opacity: 1;
    transition: opacity 400ms, visibility 100ms;
  }

  // 위에서 내려오는 애니메이션
  .event__top {
    @include animation(event-page-show-top, 550ms);
    transform: translateY(0%);
  }

  // 아래에서 올라가는 애니메이션
  .event__bottom {
    @include animation(event-page-show-bottom, 550ms);
    transform: translateY(0%);
  }

  // 이벤트 화면의 메인 버튼 표시
  .main-btn-transfer {
    visibility: visible;
  }

  // 송금하기 버튼 뒤늦게 올라오는 효과
  .btn-transfer {
    transform: translateY(0%);
    transition-delay: 200ms;
  }
}
