// ** page-main.scss

// 메인 페이지
.page-main {
  opacity: 1;

  // 전체 백그라운드
  &__background {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: $MAX-WIDTH;
    height: 100%;
    background-size: 100%;
    background-color: $CL-BG;
    @include bgi("page-main-background", "jpg");
  }
}


// 하단 메인 버튼
.main-btn-apply {
  z-index: $Z-MAIN-BTN;
  overflow: hidden;
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: $MAX-WIDTH;

  .btn-apply {
    @include bgi("btn-apply");
    @include percentSize(734, 148);
    margin-left: getPercent(14);
  }

}

// 최초 진입 시 떨어지는 동전들
.deco-coins-drop {
  @include pointer-none;
  @include select-none;
  z-index: $Z-COIN-DROP;
  max-width: $MAX-WIDTH;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  animation: coin-drop-show 900ms;
  animation-fill-mode: forwards;

  // 이미지 네임
  $_imgName: "deco-coins-drop";

  &:before,
  &:after {
    display: block;
    content: '';
  }

  &:before {
    @include percentSize(750, 1066);
    @include bgi("#{$_imgName}-bottom");
  }

  &:after {
    @include percentSize(750, 1363);
    @include bgi("#{$_imgName}-top");
  }
}

// 항시 따라다니는 동전들
.deco-coins-fixed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include pointer-none;
  @include select-none;

  // 이미지 네임
  $_imgName: "deco-coins-fixed";

  .fixed-coins {
    position: absolute;
    animation-name: coin-fixed-show;
    animation-fill-mode: both;
  }

  .fixed-coins--1 {
    z-index: 3;
    margin-top: getPercent(270);
    @include percentSize(750, 269);
    @include bgi("#{$_imgName}-1");
    animation-duration: 550ms;
  }

  .fixed-coins--2 {
    z-index: 1;
    margin-top: getPercent(470);
    @include percentSize(750, 144);
    @include bgi("deco-coins-fixed-2");
    animation-duration: 450ms;
  }

  .fixed-coins--3 {
    z-index: 3;
    margin-top: getPercent(600);
    @include percentSize(750, 211);
    @include bgi("deco-coins-fixed-3");
    animation-duration: 650ms;
  }
}

// 하단 코인 무더기
.deco-coins-bottom {
  position: relative;
  z-index: 1;
  margin-top: getPercent(25);
  @include percentSize(750, 184);
  @include bgi("deco-coins-bottom");
}