// ** variables.scss
// ** 글로벌 변수

// path
$PATH-IMAGE: "../images/";


// color
$CL-BG: #25170f;
$CL-black: rgba(0, 0, 0, .87);
$CL-gray: rgba(0, 0, 0, .65);
$CL-error: #ff4d4f;
$CL-focus: #40a9ff;
$CL-active: #096dd9;
$CL-primary: #1890ff;
$CL-active-bg: rgba(219, 239, 255, 0.5);
$CL-input-border: rgba(34, 34, 34, 0.2);
$CL-disabled-bg: #f5f5f5;