// ** animation.scss


// 고정 영역의 코인이 떨어지는 애니메이션
@include keyframes(coin-fixed-show) {
  0% {
    transform: translateY(-50vh);
  }

  100% {
    transform: translateY(0);
  }
}

// 드롭 코인이 우수수 떨어지는 애니메이션
@include keyframes(coin-drop-show) {
  0% {
    visibility: visible;
    transform: translateX(-50%) translateY(-100%);
  }

  100% {
    visibility: hidden;
    transform: translateX(-50%) translateY(100%);
  }
}

// 헤더 영역의 스파크가 일어나는 애니메이션
@include keyframes(spark-show) {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

// 헤더 영역의 DROP THE 네온사인이 반짝이는 애니메이션
@include keyframes(neon-ani-top) {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0.7;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

// 헤더 영역의 MONEY 네온사인이 반짝이는 애니메이션
@include keyframes(neon-ani-bottom) {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0.85;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}


// 헤더 영역의 MONEY 중 O가 반짝이는 애니메이션
@include keyframes(neon-ani-bottom-em) {
  0% {
    opacity: 0.8;
  }

  20% {
    opacity: 0.3;
  }

  24% {
    opacity: 1;
  }

  28% {
    opacity: 0.3;
  }

  32% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.8;
  }
}


// 비주얼 영역 텍스트가 바운스하는 애니메이션
@include keyframes(bounce) {
  0% {
    transform: scale3d(0.85, 0.85, 1);
  }

  20% {
    transform: scale3d(1, 1, 1);
  }

  100% {
    transform: scale3d(0.85, 0.85, 1);
  }
}



// 비주얼 영역 왼쪽의 손 움직이는 애니메이션
@include keyframes(hand-swing-left) {

  0% {
    transform: rotate(0);
  }

  20% {
    transform: rotate(-24deg);
  }

  100% {
    transform: rotate(0);
  }
}


// 비주얼 영역 오른쪽의 손 움직이는 애니메이션
@include keyframes(hand-swing-right) {

  0% {
    transform: rotate(0);
  }

  20% {
    transform: rotate(24deg);
  }

  100% {
    transform: rotate(0);
  }
}


// SNS 공유 영역의 네온 사인 켜지는 애니메이션
@include keyframes(neon-ani-share) {
  0% {
    opacity: 0.35;
  }

  8% {
    opacity: 1;
  }

  10% {
    opacity: 0.35;
  }

  14% {
    opacity: 1;
  }

  18% {
    opacity: 0.35;
  }

  22% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}



// 이벤트 페이지 열릴 시 위에서 내려오는 애니메이션
@include keyframes(event-page-show-top) {

  0% {
    transform: translateY(-100%);
  }

  20% {
    transform: translateY(-100%);
  }

  30% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-8%);
  }

  80% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(-3%);
  }

  100% {
    transform: translateY(0);
  }
}


// 이벤트 페이지 열릴 시 아래에서 올라오는 애니메이션
@include keyframes(event-page-show-bottom) {

  0% {
    transform: translateY(100%);
  }

  20% {
    transform: translateY(100%);
  }

  30% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(8%);
  }

  80% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(3%);
  }

  100% {
    transform: translateY(0);
  }
}