// ** animation.scss

// 스파크 애니메이션
@include keyframes(spark) {
  0% {
    // opacity: 0;

    top: 0%;
    left: 0%;
    // max-width: 0;
    transform: scale(0.5, 0);
    // transform: translate3d(0%, 0%, 0) scale3d(0, 0, 0);
    // transform: translate3d(0%, 30%, 0);
  }

  100% {
    // opacity: 1;

    top: 0;
    left: 0;
    // max-width: 100%;
    transform: scale(1, 1);
    // transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1);
    // transform: translate3d(0%, 0%, 0);
  }
}


@include keyframes(spark2) {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}