// ** animation.scss

// 스파크 애니메이션
@include keyframes(spark) {
  0% {
    // opacity: 0;

    top: 0%;
    left: 0%;
    // max-width: 0;
    transform: scale(0.5, 0);
    // transform: translate3d(0%, 0%, 0) scale3d(0, 0, 0);
    // transform: translate3d(0%, 30%, 0);
  }

  100% {
    // opacity: 1;

    top: 0;
    left: 0;
    // max-width: 100%;
    transform: scale(1, 1);
    // transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1);
    // transform: translate3d(0%, 0%, 0);
  }
}


@include keyframes(spark2) {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}


@include keyframes(bounce) {
  0% {
    transform: scale3d(0.85, 0.85, 1);
  }

  20% {
    transform: scale3d(1, 1, 1);
  }

  100% {
    transform: scale3d(0.85, 0.85, 1);
  }
}



@include keyframes(hand1) {

  0% {
    transform: rotate(0);
  }

  20% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0);
  }
}


@include keyframes(hand2) {

  0% {
    transform: rotate(0);
  }

  20% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0);
  }
}

@include keyframes(neon1) {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0.7;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@include keyframes(neon2) {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0.85;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@include keyframes(neon3) {
  0% {
    opacity: 0.8;
  }

  20% {
    opacity: 0.3;
  }

  24% {
    opacity: 1;
  }

  28% {
    opacity: 0.3;
  }

  32% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.8;
  }
}

@include keyframes(neon4) {
  0% {
    opacity: 0.35;
  }

  8% {
    opacity: 1;
  }

  10% {
    opacity: 0.35;
  }

  14% {
    opacity: 1;
  }

  18% {
    opacity: 0.35;
  }

  22% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}


@include keyframes(coinDrops) {
  0% {
    visibility: visible;
    transform: translateX(-50%) translateY(-100%);
  }

  100% {
    visibility: hidden;
    transform: translateX(-50%) translateY(100%);
  }
}



@include keyframes(coinFixed) {
  0% {
    transform: translateY(-50vh);
  }

  100% {
    transform: translateY(0);
  }
}

@include keyframes(openEventPageTop) {

  0% {
    transform: translateY(-100%);
  }

  20% {
    transform: translateY(-100%);
  }

  30% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-8%);
  }

  80% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(-3%);
  }

  100% {
    transform: translateY(0);
  }
}

@include keyframes(openEventPageBottom) {

  0% {
    transform: translateY(100%);
  }

  20% {
    transform: translateY(100%);
  }

  30% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(8%);
  }

  80% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(3%);
  }

  100% {
    transform: translateY(0);
  }
}